<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>code</title>
  <link href="./main.css" rel="stylesheet"/>
  <link href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
  <script src="./node_modules/ace-builds/src-noconflict/ace.js"></script>
  <link rel="stylesheet" href="./node_modules/ace-builds/css/ace.css">
  <link rel="stylesheet" href="./node_modules/ace-builds/css/theme/tomorrow_night_eighties.css">
</head>
<body>

  <div class="container p-2" id="app">
    <div class="flex flex-col">
      <div>代码标题: <input type="text" id="title" v-model="dt.title"></div>
      <div>文件夹: <input type="text" v-model="dt.folder"></div>
      <div>标签: <input type="text" id="tags" v-model="dt.tags"></div>
      <div>代码
        <div id="editor" class="h-96">
        </div>
      </div>
      <div>
        <button class="" @click="save">确认添加</button>
      </div>
    </div>
  </div>

  
  <script src="./code.js"></script>
</body>
</html>