<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Code</title>
  <link href="./main.css" rel="stylesheet"/>
  <link href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
  <script src="./node_modules/ace-builds/src-noconflict/ace.js"></script>
  <link rel="stylesheet" href="./node_modules/ace-builds/css/ace.css">

  <link rel="stylesheet" href="./node_modules/vue-toast-notification/dist/theme-sugar.css">
  <link rel="stylesheet" href="./node_modules/element-plus/dist/index.css">

 
  <style>
    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body class="text-xs">
  <div class="container max-w-full" id="app">

    <div v-show="showAddNewForm" v-cloak class="border-4 left-52 top-3 absolute z-50" style="width: 500px; height: 520px; background-color: #d4e3eb;">
      <div class="flex flex-col text-xs">
        <div class="h-6">
          <span class="float-left mt-2 ml-2">
            {{ addNewFolderObj.folder_name }}
          </span>
          <span class="float-right mt-2 mr-2 cursor-pointer" @click="showAddNewForm=false">
            <i class="fas fa-times-circle"></i>
          </span>
        </div>
        <div class="py-2 flex flex-row space-x-2">
          <div class="flex-grow">
            <el-input v-model="addCodeObj.title" placeholder="输入片断名称" />
          </div>
          <div class="flex-none w-40">
            <el-select v-model="langvalue" filterable  placeholder="选择语言">
              <el-option
                v-for="item in this.options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <div>
          <div id="addNewEditor" style="height: 400px;">
  
          </div>
        </div>
        <div class="pt-2 text-center mt-1">
          <span @click="saveNewCode" class="py-2 px-3 border rounded-md cursor-pointer" title="保存代码">
          <i class="far fa-check-circle"></i>
          </span>
        </div>
      </div>
    </div>


    <div class="flex flex-row">
      <div class="w-52 flex-none border-r min-h-screen" style="background-color: #d4e3eb;">


        <div class="px-2 pt-2 text-xs text-gray-400">Folders</div>

        <el-dialog v-model="dialogFormVisible" title="新增文件夹" center>
            <span>
              <el-input v-model="newFolderName" placeholder="文件夹名称" />
            </span>
            <div class="dialog-footer text-center mt-2">              
              <el-button type="primary" @click="saveNewFolder">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog v-model="modifyFolderFormVisible" title="修改文件夹" center>
          <span>
            <el-input v-model="folderName" placeholder="文件夹名称" />
          </span>
          <div class="dialog-footer text-center mt-2">              
            <el-button type="primary" @click="updateFolder">保存</el-button>
          </div>
      </el-dialog>

        <ul class="p-2 space-y-1" id="folder_list">
          <li @click="viewList(0)" :class="{'bg-gray-100':currentFolderId==0}" class="p-2 cursor-pointer rounded-md">
            <span>
            <i class="fas fa-folder text-blue-300 mr-2"></i> 全部文件夹
            </span>
            <!-- <span class="float-right" id="btnFolderSettings"> -->
            <span class="float-right" @click="dialogFormVisible = true">
              <i class="fas fa-plus"></i>
            </span>
          </li>          
          <draggable v-model="folders" @end="checkMove" item-key="px">
              <li class="p-2 cursor-pointer hover:bg-blue-50 rounded-md" v-for="(folder, index) in folders" :key="index" :class="{'bg-blue-50':currentFolderId==folder.id}" >
                <span @click="viewList(folder.id)">
                  <i class="fas fa-folder text-blue-300 mr-2"></i> {{ folder.folder_name }}
                </span>

                <span class="float-right" @click="showNewForm(folder.id)">
                  <i class="fas fa-plus"></i>
                </span>

                <span class="float-right mr-2">

                <el-dropdown>
                  <span class="el-dropdown-link">
                    <i class="fas fa-cog"></i>
                  </span>
                  <template #dropdown>
                    <el-dropdown-menu>
                      <el-dropdown-item @click="openUpdateFolder(folder.id)">
                        修改
                      </el-dropdown-item>
                      <el-dropdown-item @click="deleteFolder(folder.id)" divided>删除</el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </el-dropdown>

                </span>

              </li>
          </draggable>          
          
        </ul>

        <div class="px-2 pt-2 text-xs text-gray-400">Tags</div>
        <ul class="p-2">
          <li class="p-2 bg-gray-100 rounded-md">
            <i class="fas fa-tags text-blue-300 mr-2"></i> 全部标签 (243)
          </li>               
          
          <li class="p-2">
            <i class="fas fa-tag text-blue-300 mr-2 text-xs"></i> Notes (143)
          </li>          
          
          <li class="p-2">
            <i class="fas fa-tag text-blue-300 mr-2"></i> Apple (20)
          </li>
          
          <li class="p-2">
            <i class="fas fa-tag text-blue-300 mr-2"></i> MySQL (44)
          </li>
        </ul>
        
      </div>
      <div class="w-72 flex-none">
        <div class="h-11 border-b p-2 flex flex-row">
          <i class="fas fa-search mt-2 flex-none"></i>
          <div class="flex-grow">
              <input type="text" v-model="searchKeys" class="p-2 outline-none text-gray-400" placeholder="search" @keydown.enter="search">
          </div>
        </div>
        <el-scrollbar v-cloak ref="scrollbar" style="height: 495px;">
          <ol class="p-4 space-y-1">
            <li :class="{'bg-blue-500 text-white rounded-md':code.id==currentCodeId}" :key="index" class="border-b hover:bg-blue-500" v-for="(code, index) in codes">
              <div class="ms-2 me-auto">
                <div @click="showCode(code.id)" class="font-semibold p-1 cursor-pointer">{{ code.title }}</div>
                <div :class="{'text-gray-50':code.id==currentCodeId, 'text-gray-400':code.id!=currentCodeId}" class="text-xs p-1 flex flex-row">
                  <div class="flex-grow">{{ formatLang(code.lang) }}</div>
                  <div class="w-20 flex-none text-right">{{ code.created_at.substr(0,10) }}</div>
                </div>
              </div>
            </li>
          </ol>
        </el-scrollbar>
      </div>
      <div class="flex-grow border-l" style="background-color: #f0f0f0;">
        <div class="flex flex-row p-2 space-x-2">
          <div class="flex-grow text-base font-semibold text-gray-500">
            <el-input v-model="codeObj.title" placeholder="片断">
              <template #prefix>
                <i class="fas fa-ellipsis-h mt-3"></i>
              </template>
            </el-input>
          </div>
          <div class="flex-none w-20">
            <el-select v-model="code_lang" filterable  placeholder="语言">
              <el-option
                v-for="item in this.options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>
          <div class="flex-none pt-3 space-x-2">
            <span title="" class="px-2 py-0.5 border rounded-md hover:bg-blue-300 cursor-pointer">
            <i class="far fa-eye"></i>
          </span>
            <span title="" class="px-2 py-0.5 border rounded-md hover:bg-blue-300 cursor-pointer">
            <i class="fas fa-code"></i>
          </span>
            <span title="复制代码" class="px-2 py-0.5 border rounded-md hover:bg-blue-300 cursor-pointer">
              <i class="far fa-copy"></i>
            </span>
            <span title="提交更新" class="px-2 py-0.5 border rounded-md hover:bg-blue-300 cursor-pointer" @click="updateCode">
              <i class="fas fa-sync"></i>
            </span>
          </div>
        </div>
        <div style="display: none;">
          <ul class="flex flex-row px-2 space-x-2 text-xs text-gray-400">
            <li class="rounded-md border border-gray-300 px-2 py-0.5">SwiftUI</li>
            <li class="rounded-md border border-gray-300 px-2 py-0.5">IOS</li>
            <li class="rounded-md border border-gray-300 px-2 py-0.5">MacOS</li>
            <li class="rounded-md border border-gray-300 px-2 py-0.5">Apple</li>
          </ul>
        </div>

        <div id="editor" class="p-2 mt-2" style="height: 430px;">
          
        </div>
        <div class="space-x-2 p-2 text-center text-xs text-gray-400">
          代码最后更新于: {{ codeObj.updated_at }} <i class="far fa-times-circle cursor-pointer ml-2" @click="deleteCode(codeObj)" title="删除此代码"></i>
        </div>

      </div>


    </div>

  </div>

  <script src="./render.js"></script>
</body>
</html>